<!DOCTYPE html>
<html lang="en">
<head>
    <!--Here at the layout.cshtml page is where i add some of my page
    i want to show on Home page display so when you click the name it
    takes you to that page eg: About Us page.-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emmcnorb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Emmcnorb.styles.css" asp-append-version="true" />
    <div id="top-layer">
        <div id="welcome-message"><b>Welcome To Emmcn Orb, Explore Our Collection Of Books, Blog Posts And Calculator </b></div>
        <div id="welcom-message2"><b>Faithfully connecting hearts, calculating love, offering divine reads, and nurturing souls. Checkout Our BRAND NEW Books Romance Trueness®</b></div>
    </div>
</head>
<body>
    <header id="Hometopnav">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Emmcnorb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <!--I had to add the about Page to the shared Layout-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutPage" asp-action="AboutPage">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calculator" asp-action="Index">Calculator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
           
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <!--Added a navigation link to my Linkedin account as the developer might change the location-->
            &copy; 2024 - Emmcnorb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            Designed & Developed <a href="https://www.linkedin.com/in/conscience-o-nosa/">Conscience</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
