@model Comments

<h2>Create Comment</h2>

<form asp-action="Create" method="post">
    <div>
        <lable>User Name</lable>
        <input type="text" asp-for="CommentUsername" />
    </div>
    <div>
        <lable>Date & Time</lable>
        <input type="datetime" asp-for="CommentCreatedDate" />
    </div>
    <div>
        <label>Content:</label>
        <textarea asp-for="Comment"></textarea>
    </div>
    <button type="submit">Create Comment</button>
</form>
