@{
    ViewData["Title"] = "About Page";
}
<h1>AboutUs</h1>
<!--The View is responsible for presenting the data to the user
 and receiving user input. It is the user interface (UI)component
 that displays information to users and captures their interactions.
 Views receive data from the Controller and render it for the user.
 Views can also handle user input and send it back to the Controller. -->

<body>
    <!-- on each HTML page you have h1 to h6 and i used each to seprate different sections. -->
    <!-- on this page i added breaks "br" and bolds "b" to give enphasises -->
    <p>
        <h2>
            <b>What Is Love?</b></h2> <br/>
        Accounding to Bible Scripture. 1 Corinthians 13:4–8a (ESV) Love is patient and kind,love does not envy or boast
        it is not arrogant or rude. It does not insist on its own way it is not irritable or resentful
        it does not rejoice at wrongdoing, but rejoices with the truth.<br/>
    </p>
    <p>
        <h3><b>Who We Are</b></h3> <br/>
        Welcome to Emmcn Orb, a cherished online space owned by a family deeply devoted to Jesus Christ.
        We are passionate about nurturing Christ-centered relationships, and our mission is to provide
        a holistic platform that not only offers insightful Christian relationship books but also shares
        meaningful blog posts and tools to strengthen and enrich your connections.<br/>
    </p>
    <p>
        <h4><b>Our Mission</b></h4> <br/>
        Emmcn Orb is not just a business; it is an extension of our family's love for Jesus Christ.
        As parents, siblings, and friends, we have experienced the transformative power of faith in 
        our own relationships. Our shared commitment to Christ fuels our passion for providing 
        resources that promote love, understanding, and unity grounded in biblical principles.<br/>
    </p>
    <p>
        <h5><b>What We Offer</b></h5> <br/>
        <b>Christian Relationship Books</b> <br/> Explore our thoughtfully curated
        collection of Christian relationship books that cover a spectrum of topics,
        from dating and courtship to marriage and family dynamics. Each book is carefully
        selected to offer practical guidance, biblical insights, and encouragement for your
        relationship journey.<br/> <br/>
        <b>Chronicle Of Elysian Bonds</b> <br />
        Dive into our Chronicle, where we share insightful articles, personal stories,
        and practical tips on navigating the complexities of relationships from a Christian perspective.
        Chronicle Of Elysian Bonds is a space for reflection, learning, and growth as we explore the joys
        and challenges of living out Christ's love in our connections with others.<br/> <br/>
        <b>Affinity Harmony Analyzer</b> <br />
        Discover our unique Affinity Harmony Analyzer
        a tool designed to assess and reflect on the health of your relationship.
        Answer a few simple questions, and receive personalized insights and suggestions
        to strengthen your bond with your partner, family, or friends.<br/>
    </p>
    <p>
        <h6><b>Our Promise</b></h6> <br/>
        As a family dedicated to Christ, we promise to:<br />
        Provide Quality Resources: Our books and blog content are crafted
        with care to offer you valuable insights and guidance for your relationship journey.<br/>
        Create a Supportive Community: Emmcn Ord is more than a marketplace; it's a community.
        Join us in sharing stories, asking questions,
        and supporting one another on this exciting journey of building Christ-centered relationships.<br />
        Facilitate Growth: Our Affinity Harmony Analyzer is designed
        to assist you in assessing and growing in your relationships,
        fostering deeper connections in your life.<br/>
        Thank you for choosing Emmcn Orb as your trusted companion on your journey
        to cultivating Christ-centered relationships.
        May your connections be blessed, strengthened, and filled with the love of Jesus Christ.<br/>
        In His Love,<br/> <br/>
        The Lowoue's<br/>
        Owners, Emmcn Orb
    </p>
</body>

