@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To Emmcn Orb</h1>
   <!-- <p>Dive into our Blog <a href= "http://localhost:11008/Identity/Account/Login?ReturnUrl=%2FBlog">Navigating relationships from a Christian perspective</a></></p>-->
</div>
<body>
<div class="text-center"> 
    <main class="container" id="store">
        <h2 class="display-6">Book Store</h2>
        <ul>
        <!--added the book link with the image so when one click the picture it takes them to amazon-->
       <!--<p id="book1">--> <li><a href="https://a.co/d/9zgaXME"> <img id="picture" src="\Images\TrophyGirlfriendfullHomepage.PNG" height="200" width="300" alt="" name="Romance Trueness"> </a></li>
        <!--<p id="book2">--><li><a href ="https://a.co/d/91KrlQx"> <img id="picture" src="\Images\BoyfriendFullHomepage.png" height="200" width="300" alt="" name="Romance Trueness"></a></li>
        </ul>

        <!-- DELETE this link Later <p>Buy Now <a href="https://a.co/d/91KrlQx"><b>Romance Trueness</b> Ultimate guide becoming her Boyfriend</a></p> -->
    </main>  
    </body>
    <div>

    </div>
    <div class="container" id="nav">


    </div>
    <div class="text-lg-center">
    <main class="container" id="calculator">
                <h3 class="display-8">Love Calculator</h3>
        <a href="http://localhost:11008/Identity/Account/Login?ReturnUrl=%2FCalculator"> <img id="picture" src="\Images\Caculator.png" height="200" width="300" alt="" name="Love Calculator"></a>
        <p>Calculate the compatablity of your relationship with your Patner</p>
        <p>Answer a few simple questions and receive personalized Score</p>
        <!-- <p>Dive into our Blog <a href= "http://localhost:11008/Identity/Account/Login?ReturnUrl=%2FBlog">Navigating relationships from a Christian perspective</a></></p>-->
    </main>

    
</div>
