  @model List<Calculator>

@using (Html.BeginForm("CalculatorScores","Calculator", "CalculatorUser", FormMethod.Post))
 {
     <h2>Harmony Calculator instruction</h2>
        <label>
            Hey dear, Affinity Harmony Analyzer will ask you 14 questions to calculate compatablity
            of Your partner and yourself.<br>Rate yourself On a scale of 1 to 10
            Kindly be Honest as possible to get an accurate Harmony
        </label><br>
        <label>Are you Male or Female?</label><br>
    <select name="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <br>
        <label>how patient is your partner with you? (1-10)</label>
        <input type="number" name="UserPartnerRatingPatient" min="1" max="10" required>
        <br>
        <label>How kind has your partner been to you? (1-10)</label>
        <input type="number" name="UserPartnerRatingKind" min="1" max="10" required>
        <br>
        <label>Has your Partner been sincerly loving towards you? (1-10)</label>
        <input type="number" name="UserPartnerRatingLove" min="1" max="10" required>
        <br>
        <label>Is your partner humble? (1-10)</label>
        <input type="number" name="UserPartnerRatingHumble" min="1" max="10" required>
        <br>
        <label>How respectful is your partner towards you and your family? (1-10)</label>
        <input type="number" name="UserPartnerRatingRespectful" min="1" max="10" required>
        <br>
        <label>Is your partner giving towards you? (1-10)</label>
        <input type="number" name="UserPartnerRatingGiving" min="1" max="10" required>
        <br>
        <label>Is your partner honest with you? (1-10)</label>
        <input type="number" name="UserPartnerRatingHonest" min="1" max="10" required>
        
        

    <h3>Kindly Rate Your YourSelf on a Scale from 1 to 10 </h3>
        <label>how Patient are you with your Partner? (1-10)</label>
        <input type="number" name="UserSelfRatingPatient" min="1" max="10" required>
        <br>
        <label>Are you kind to your partner? (1-10)</label>
        <input type="number" name="UserSelfRatingKind" min="1" max="10" required>
        <br>
        <label>"How inlove are you with your Partner? (1-10)</label>
        <input type="number" name="UserSelfRatingLove" min="1" max="10" required>
        <br>
        <label>Are you humble? (1-10)</label>
        <input type="number" name="UserSelfRatingHumble" min="1" max="10" required>
        <br>
        <label>Do you respect your partner? (1-10)</label>
        <input type="number" name="UserSelfRatingRespectful" min="1" max="10" required>
        <br>
        <label>Are you giving to partner? (1-10)</label>
        <input type="number" name="UserSelfRatingGiving" min="1" max="10" required>
        <br>
        <label>Lastly, how honest are you? (1-10)</label>
        <input type="number" name="UserSelfRatingHonest" min="1" max="10" required>
        <br>
        
    <button type="submit">Calculator Scores</button>
}



