    html {
        font-size: 14px;
    }

    @media (min-width: 768px) {
     html {
        font-size: 16px;
     }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
     box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
        position: relative;
        min-height: 100%;
    }

body {
    /*display: block; /*add this*/
    margin-bottom: 50px;
    color: yellow;
    background-color: darkred;
     
   
}

.bf-banner .banner-content {
    align-items: center;
    color: yellow;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 500%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    

}
.bannertext:hover{
    transform: translate(25px, 25px);
}

.product-price { /*prive of the books*/
    color: darkred;
    font-size: 200%;
    position: relative;
    top: 255px;
    right: 200px;
}

#bf-banner a {
    outline: none;
    text-decoration: underline;
    color: yellow;
    font-size: 150%;
}

#store { /*added all this*/
    font-size: small;
    font-display: block;
    text-align: center;
    background-color: white;
    display: flex;
    border-radius: 20px;
}
#book-one {
    width: 300px;
    height: 250px;
    display: flex;
    color: rgba(65,62,83,.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    display: flex;
    
    margin: 50px 50px 50px 100px;
    background-color: white;
   
}

#book-two {
    display: flex;
    color: rgba(65,62,83,.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 250px;
    margin: 50px 50px 50px 250px;
    line-height: 1.2;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
}

.blog-content {
    text-align: center;
        display: flex;
        flex-shrink: 1; /*to shrick the size of the blog in smaller screen*/
}

#calculatortext {
    text-align: center;
}

#calculatorVideo { /*This is to style the calculator*/

    text-align: center;
    border: hidden;

}
/*styling my labels and forms*/
label{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"]{
    background-color: yellow;
    color: darkred;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#myFirstVideo {
    border-radius: 80px;
    
}

.display-8{
    text-align: center;
    text-decoration:wavy;
    text-emphasis-color: white;
}

#blogVideo {
    text-align: center;
    border: hidden;
}

#mysecondVideo {
    border-radius: 80px;
}

a {
    /* defines the style 
        unvisited links */

    color: yellow;
    font-family: 'Georgia', serif;
    text-decoration: none; /*used this to remove the line in the links*/
}


        a:hover {
            /* a link is hovered when
        the mouse is over it */

            color: red;
            
        }

    a:active {
        /* click on the link but hasn't 
        released the mouse button yet */

        color:  yellow;
    }

    #Hometopnav { /*Here is the css style for my home page top nav style*/

     
        text-size-adjust: 100%;
         /*display: none;*/
        line-height: 24px;
        border: none;
    
    }

#scorebackgd {
    background-image: url(/Images/flowerlove.png);
    background-position: center;
    background-size: cover;
    background-color: ghostwhite;
    width: 300px;
    height: 250px;
    display: flex;
    color: rgba(65,62,83,.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
}
.score {
    color: darkred;
    font-size: 420%;
    position: relative;
    top: 58px;
    left: 80px;
}
.scoretext {
    text-align: center; 
}
.scoretx {
    text-align: center;
}

#calculatorPage {
    background-color: white;
    color: darkred;
    border-radius: 40px;
    text-align: center;
    font-size: large;
}
/* This is for the Login page and the login button*/
#loginbutton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: darkred;
    color: yellow;
    transition: transform 1s;
}

#button{
    padding: 10px 20px;
    font-size: 16px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    transition: transform 1s;
    transition: color 1s;
}

   #button:active {
        transform: scale(0.5);
      
    }

/*for the top banner that has the welcome message*/
#top-layer {
    display: flex;
    position: relative;
    top: 9.3%;
    left: 0;
    width: 100%;
    height: 80px; /* Adjust height as needed */
    background-color: ButtonShadow;/* Semi-transparent background */
    z-index: 9999; /* Ensure the top layer is above other content */
    overflow: hidden; /* Hide overflowing content */
}

#welcome-message {
    position: absolute;
    top: 40%;
    left: 50%;
   transform: translate(-50%, -50%);
    color: darkred; /* Text color */
    font-size: 31px; /* Adjust font size as needed */
    white-space: nowrap; /* Prevent text from wrapping */
    /*animation: moveWelcome 3s linear infinite; /* Animation for moving the welcome message */
}

#welcom-message2 {
    position: relative;
    top: 110%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: darkred; /* Text color */
    font-size: 19px; /* Adjust font size as needed */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: moveWelcome 7s linear infinite; /* Animation for moving the welcome message */
}


    @keyframes moveWelcome {
        0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(calc(-50% + 100vw), -50%); /* Move the message to the right end of the viewport */
    }
}
/*Here is for the blog styping*/
#blogsummary{
    text-align: center;
}
#postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
}

.post {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .post img {
        max-width: 100%;
        height: auto;
    }

#aboutPage {
    background-color: white;
    color: darkred;
    font-size: large;
    border-radius: 20px;
    text-align: center;
    border: hidden;
    margin: 0;
}

#privacyPage {
    color: darkred;
    font-size: large;
    background-color: white;
    border-radius: 20px;
    border: hidden;
    margin: 0;
    text-align: center;
}